{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/css/mainapp.css' %}">
    
{% endblock %}

{% block 'dashboard' %}
<div class="container mt-4">
    <h2>Categorias</h2>
    <div class="list-group mt-3">
        <ul>
            {% if categorias %}
                {% for categoria in categorias %}
                    <li><a href="{% url 'cafes_por_categoria' categoria.id %}">{{ categoria.tipo }}</a></li>
                {% endfor %}
            {% else %}
                <li>Nenhuma categoria encontrada</li>
            {% endif %}
        </ul>
    </div>
       
</div>
{% endblock %}