{% extends "base.html" %}

{% block 'head' %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/css/mainapp.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container mt-4">
    <h2>Histórico de {{ user.username }}</h2>
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="list-group mt-3">
        {% for book in book_history %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                <div>{{ book.book_title }} - {{ book.author }} ({{ book.date_started|date:"M/Y" }})</div>
            </div>
            <div>
                <form action="{% url 'remove_history' cafe_id=book.id %}" method="post" style="display:inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>Nenhuma cafeteria no histórico.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
