{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainapp/css/mainapp.css' %}">
    
{% endblock %}

{% block 'dashboard' %}
<div class="container mt-4">
    <h2>Categorias</h2>
    <div class="list-group mt-3"class="list-group-item list-group-item-action d-flex align-items-start">
        <ul>
            {% if cafes %}
                {% for cafe in cafes %}
                <a href="{% url 'cafe_detail' cafe.id %}" class="list-group-item list-group-item-action d-flex align-items-start">
                    <div>
                        <div>{{ cafe.nome }} por {{ cafe.autor }} ({{ cafe.anopublicado }})</div>
                    </div>
                </a>
                <br>
                {% empty %}
                <p>Nenhuma cafeterias adicionada ainda.</p>
                {% endfor %}
            {% else %}
                <li>Nenhuma cafeteria encontrada nesta categoria</li>
            {% endif %}
        </ul>
</div>
{% endblock %}
