{% extends "base.html" %}

{% block 'head' %}
{% load static %}
<link rel="stylesheet" href="{% static 'mainapp/css/mainapp.css' %}">
{% endblock %}

{% block 'dashboard' %}
<div class="container mt-4">
    <h2>Favoritos de {{ user.username }}</h2>
    {% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    
    <div class="list-group mt-3">
        {% for coffee in coffee_history %}
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
            <div>
                <div>{{ coffee.coffee_title }} - {{ coffee.author }} ({{ coffee.date_started|date:"M/Y" }})</div>
            </div>
            <div>
                <form action="{% url 'remove_history' cafe_id=coffee.id %}" method="post" style="display:inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                </form>
            </div>
        </div>
        {% empty %}
        <p>Nenhuma cafeteria no favoritos.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
