{% load static %}
<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
<html style="height: 100%; overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>INOVE Coffee</title>
    <link rel="icon" type="image/x-icon" href="{% static 'interface/images/inovefavicon - Copia.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="overflow: hidden;">
<nav>
    <div class="logo" style="font-family: 'Paytone One', sans-serif;">INOVE Coffee</div>
    <div class="nav-items">
        <a href="mainapp/sobre" style="font-family: 'Paytone One', sans-serif;">Sobre</a>
        <a href="mainapp/login/">
            <button class="button button2" style="font-family: 'Paytone One', sans-serif;">Login</button>
        </a>
    </div>
</nav>
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1 style="font-family: 'Paytone One', sans-serif; font-size: 95px;">O melhor para você</h1>
            <p style="font-family: 'Inter', sans-serif;">
                Descubra o aroma e as cafeterias de Recife em um único clique.
            </p>
            <a href="mainapp/cadastro/">
                <button class="button button1" style="font-family: 'Paytone One', sans-serif;">Cadastre-se</button>
            </a>
        </div>
        <div class="column-right">
            <img src="{% static 'interface/images/Ativo 2 - Copia.svg' %}" alt="illustration" class="hero-image"/>
        </div>

    </div>
</section>

</body>
</html>