{% load static %}
<!DOCTYPE html>
<html style="height: 100%; overflow: hidden;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>INOVE Coffee</title>
    <link rel="icon" type="image/x-icon" href="{% static 'interface/images/inovefavicon - Copia.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="overflow: hidden;">
<nav>
    <div class="logo">INOVE Coffee</div>
    <div class="nav-items">
        <a href="/">Home</a>
        <a href="mainapp/sobre">Sobre</a>
        <a href="mainapp/login/">
            <button class="button button2">Login</button>
        </a>
    </div>
</nav>
<section class="hero">
    <div class="hero-container">
        <div class="column-left">
            <h1>O melhor para você</h1>
            <p>
                Descubra o aroma e as cafeterias de Recife em um único clique.
            </p>
            <a href="mainapp/cadastro/">
                <button class="button button1">Começe Agora</button>
            </a>
        </div>
        <div class="column-right">
            <img src="{% static 'interface/images/Ativo 2 - Copia.svg' %}" alt="illustration" class="hero-image"/>
        </div>

    </div>
</section>

</body>
</html>